<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.mengkang.mappers.user">
    <select id="getUserByID" parameterType="int" resultType="User">
        SELECT * FROM `user` WHERE id=#{id}
    </select>

    <insert id="add"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="net.mengkang.demo.models.User">
        INSERT INTO `user` (`name`,sex) VALUES (#{name},#{sex})
    </insert>

    <delete id="del" parameterType="int">
        DELETE FROM `user` WHERE id=#{id}
    </delete>
</mapper>